h1{
 align-items: center;
 text-align: center;
}

.jogo1{
    
  text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-top: 100px;
}

.jogodamemorialink{
    text-decoration: none;
    color: black;
    
 
}

img{
    width: 400px;
}
